<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa</title>
</head>
<body>
	<div>
		<h1>TeCaSa</h1>
		<ul>
			<li><a href="/registroWorkshop">Registrar Workshop</a></li>
			<li><a href="/listarWorkshop">Listar Workshops</a></li>
			<li><a href="/listarWorkshopCategoria">Listar Workshops por Categoría</a></li>
			<li><a href="/listarWorkshopKeyword">Listar Workshops por Keyword</a></li>
			<li><a href="/listarWorkshopAutor">Listar Workshops por Autor</a></li>
			<li><a href="/mantenimientoCategoria">Mantenimiento de Categorías</a></li>
			
			
			
		</ul>
	</div>
</body>
</html>